.paymentMethod {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 5rem 0;
}

.paymentMethod >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.paymentMethod >span{
    display: inline-block;
    width: 1px;
    height: 15rem;
    background-color: var(--dark-2);
}

.paymentMethod >div>p{
    font-size: 2.5rem;
    font-weight: 600;
}
.paymentMethod img{
    width: 10rem;
}